<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/features">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{url_for('features_index')}}">
                Features
            </a>
            <a class="navbar-item" href="{{url_for('features_new_form')}}">
                New feature request
            </a>
            <a class="navbar-item" href="{{url_for('stats')}}">
                Stats
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if current_user.is_authenticated %}
                <div class=navbar-item>
                    Logged in as {{ current_user.username }}
                </div>
                <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('auth_logout') }}">
                        <strong>Log out</strong>
                    </a>
                </div>
                {% else %}
                <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('auth_register') }}">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="{{ url_for('auth_login') }}">
                        Log in
                    </a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</nav>