{% extends "layout.html" %}

{% block body %}

<h1 class="title">Most active users</h1>
<table class="table">
    <thead>
        <tr>
            <th>Position</th>
            <th>User</th>
            <th>Feature requests created</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th>{{ loop.index }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.feature_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1 class="title">Feature counts by category</h1>
<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Feature count</th>
        </tr>
    </thead>
    <tbody>
        {% for category in category_stats %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.feature_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}