{% extends "layout.html" %}

{% block body %}

<h1 class="title">Feature request</h1>
{% for feature in features %}
<div>
    <span class="subtitle">{{ feature.title }}</span>
    <div>{{feature.description}}</div>
    <div class="buttons">
        <a class="button" href="{{ url_for('features_edit', feature_id=feature.id) }}">Edit</a>
        <form action="{{ url_for('features_delete', feature_id=feature.id) }}" method="post">
            <button type="submit" name="your_name" value="your_value" class="button is-danger">Delete</button>
        </form>
    </div>
    <hr>
</div>
{% endfor %}

{% endblock %}