{% extends "layout.html" %}

{% block body %}

<h1 class="title">Feature request</h1>
<div>
    Category:
    {% for category in categories %}
    <a href="{{ url_for('features_index', category=category.id) }}">
        <span class="tag {{'is-primary' if category==current_category else 'is-light' }} is-medium">
            {{ category.name }}
        </span>
    </a>
    {% endfor %}
</div>
<hr>
{% for feature in features %}
<div>
    <span class="subtitle">{{ feature.title }}</span>
    <div>{{feature.description}}</div>
    <div>{{feature.like_count}} likes</div>
    <div class="field is-grouped">
        {% if current_user.is_authenticated %}
        {% if not feature.current_user_liked %}
        <form class="control" action="{{ url_for('features_like', feature_id=feature.id) }}" method="post">
            <button type="submit" class="button">Like</button>
        </form>
        {% else %}
        <form class="control" action="{{ url_for('features_unlike', feature_id=feature.id) }}" method="post">
            <button type="submit" class="button">Unlike</button>
        </form>
        {% endif %}
        {% endif %}
        {% if feature.authorized_to_modify %}
        <a class="button control" href="{{ url_for('features_edit', feature_id=feature.id) }}">Edit</a>
        <form class="control" action="{{ url_for('features_delete', feature_id=feature.id) }}" method="post">
            <button type="submit" class="button is-danger">Delete</button>
        </form>
        {% endif %}
    </div>
    <hr>
</div>
{% endfor %}

{% endblock %}